<section class="about">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="title__block">
                    О компании Barista Coffee
                </div>
            </div>
        </div>
        <div class="row about__content">
            <div class="col">
                <div class="about__title">
                    <div class="about__title-small">
                        Мы работаем с 20** года
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </div>
                <ul class="about__statistics">
                    <li class="about__statistics-item">
                        <div class="about__statistics-item--number">
                            1830
                        </div>
                        Lorem ipsum
                    </li>
                    <li class="about__statistics-item">
                        <div class="about__statistics-item--number">
                            3244
                        </div>
                        Lorem ipsum
                    </li>
                    <li class="about__statistics-item">
                        <div class="about__statistics-item--number">
                            732
                        </div>
                        Lorem ipsum
                    </li>
                    <li class="about__statistics-item">
                        <div class="about__statistics-item--number">
                            53
                        </div>
                        Lorem ipsum
                    </li>
                </ul>
            </div>
            <div class="col">
                <p class="about__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore,
                    sed do eiusmod tempor incididunt ut labore.
                </p>

                <p class="about__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                </p>
            </div>
        </div>
        <div class="row about__gallery">
            <div class="col">
                <a href="img/news_post7.jpg" class="about__gallery-img" data-fancybox="gallery">
                    <img src="img/news_post7.jpg" alt="#" class="about__gallery-image">
                    <div class="hover__image"> </div>
                </a>
                <span class="about__gallery-span">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet
                </span>
            </div>
            <div class="col">
                <a href="img/news_post8.jpg" class="about__gallery-img" data-fancybox="gallery">
                    <img src="img/news_post8.jpg" alt="#" class="about__gallery-image">
                    <div class="hover__image"> </div>
                </a>
                <span class="about__gallery-span">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet
                </span>
            </div>
            <div class="col">
                <a href="img/news_post9.jpg" class="about__gallery-img" data-fancybox="gallery">
                    <img src="img/news_post9.jpg" alt="#" class="about__gallery-image">
                    <div class="hover__image"> </div>
                </a>
                <span class="about__gallery-span">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet
                </span>
            </div>
            <div class="col">
                <a href="img/news_post10.jpg" class="about__gallery-img" data-fancybox="gallery">
                    <img src="img/news_post10.jpg" alt="#" class="about__gallery-image">
                    <div class="hover__image"> </div>
                </a>
                <span class="about__gallery-span">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet
                </span>
            </div>
            <div class="col">
                <a href="img/news_post7.jpg" class="about__gallery-img" data-fancybox="gallery">
                    <img src="img/news_post7.jpg" alt="#" class="about__gallery-image">
                    <div class="hover__image"> </div>
                </a>
                <span class="about__gallery-span">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet
                </span>
            </div>
            <div class="col">
                <a href="img/news_post8.jpg" class="about__gallery-img" data-fancybox="gallery">
                    <img src="img/news_post8.jpg" alt="#" class="about__gallery-image">
                    <div class="hover__image"> </div>
                </a>
                <span class="about__gallery-span">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet
                </span>
            </div>
        </div>
    </div>

    <div class="about__subscription">
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <div class="about__subscription-title">
                        <div class="about__subscription-title--small">
                            Подпишись на наши рассылки
                        </div>
                        и получай новые рецепты по приготовлению вкусного кофе
                    </div>
                </div>
                <div class="col">
                    <form action="" class="about__subscription-form">
                        <input type="text" class="about__subscription-input" placeholder="domain@exemple.com">
                        <button class="about__subscription-button">
                            Подписаться
                        </button>
                    </form>
                    <p class="about__subscription-licenze">
                        Нажимая кнопку «подписаться» вы соглашаетесь с условиями <a href="#" title="#">обработки
                            персональных данных</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>