<div class="a-menu">
    <div class="a-menu__title">
        Меню
        <div class="close-trigger">Закрыть</div>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu__item">
                <a href="#" title="#" class="menu__link">
                    Пункт 1
                </a>
            </li>
            <li class="menu__item menu__item-drop">
                <a href="javascript:void(0);" title="#" class="menu__link">
                    Пункт 2
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu__item"><a class="sub-menu__link" title="#" href="#">Подпункт 1</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link" title="#" href="#">Подпункт 2</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link" title="#" href="#">Подпункт 3</a></li>
                </ul>
            </li>
            <li class="menu__item">
                <a href="#" title="#" class="menu__link">
                    Пункт 3
                </a>
            </li>
            <li class="menu__item">
                <a href="#" title="#" class="menu__link">
                    Пункт 4
                </a>
            </li>
        </ul>
    </nav>
</div>


<div class="body-overlay"></div>