<div class="a-menu">
    <div class="a-menu__title">
        Меню
        <div class="close-trigger">Закрыть</div>
    </div>
    <nav>
        <ul class="menu">
            <li class="menu__item">
                <a href="/baristaprom/" title="Главная страница" class="menu__link">
                    Главная страница
                </a>
            </li>
            <li class="menu__item">
                <a href="/baristaprom/text_page.html" title="О компании" class="menu__link">
                    О компании
                </a>
            </li>
            <li class="menu__item menu__item-drop">
                <a href="javascript:void(0);" title="#" class="menu__link">
                    Каталог продукции
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu__item"><a class="sub-menu__link" title="Кофейная и чайная продукция"
                            href="/baristaprom/production_catalog.html">Кофейная и чайная продукция</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link" title="Кофейное оборудование"
                            href="/baristaprom/equipment_catalog.html">Кофейное оборудование</a></li>
                    <li class="sub-menu__item"><a class="sub-menu__link" title="Сопутствующие товары"
                            href="/baristaprom/production_catalog.html">Сопутствующие товары</a></li>
                </ul>
            </li>
            <li class="menu__item">
                <a href="/baristaprom/news_catalog.html" title="Блог и новости" class="menu__link">
                    Полезные публикации
                </a>
            </li>
            <li class="menu__item">
                <a href="/index.html#coffeehouse" title="Клубная карта" class="menu__link">
                    Клубная карта
                </a>
            </li>
            <li class="menu__item">
                <a href="/baristaprom/cooperation.html" title="Сотрудничество" class="menu__link">
                    Сотрудничество
                </a>
            </li>
            <li class="menu__item">
                <a href="/baristaprom/contacts.html" title="Филиалы и контакты" class="menu__link">
                    Филиалы и контакты
                </a>
            </li>
        </ul>
    </nav>
</div>


<div class="body-overlay"></div>