<section class="page">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <h1>
                    Авторизация
                </h1>
            </div>
            <div class="col">

                <form action="#" class="main__form main__form-login">
                    <div class="main__form-field">
                        <label for="" class="main__form-label">Логин или e-mail</label>
                        <input type="text" class="main__form-input">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Пароль</label>
                        <input required type="text" class="main__form-input">
                    </div>

                    <div class="main__form-button">
                        <button class="main__button">
                            Авторизация
                        </button>
                    </div>

                    <div class="main__form-prompt">
                        <a href="#" title="#">Забыли пароль?</a>
                        или
                        <a href="#" title="#">Регистрация</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>