<section class="breadcrumbs">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__list-item">
                        <a href="#" class="breadcrumbs__list-link">Главная</a>
                        <svg class="svg__icon">
                            <use xlink:href="img/sprite.svg#breadcrumbs" />
                        </svg>
                    </li>
                    <li class="breadcrumbs__list-item">
                        <a href="#" class="breadcrumbs__list-link">Категория</a>
                        <svg class="svg__icon">
                            <use xlink:href="img/sprite.svg#breadcrumbs" />
                        </svg>
                    </li>
                    <li class="breadcrumbs__list-item">
                        <span class="breadcrumbs__list-active">Активная страница</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>