<section class="page">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <h1>
                    Корзина покупок
                </h1>
            </div>
            <div class="col">

                <table class="cart__list">
                    <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Количество</th>
                            <th>Стоимость</th>
                        </tr>
                    </thead>
                    <div class="tbody">
                        <tr>
                            <td>
                                <img src="img/production__img_2.png" alt="#" class="cart__list-img">
                                <a href="#" title="#" class="cart__list-link">Barista milk</a>
                            </td>
                            <td>
                                
                                <input type="text" value="1" class="production__info-forms--input">
                                <button class="cart__list-delete">Удалить</button>
                            
                            </td>
                            <td>
                                1.500
                                <svg class="svg__icon">
                                    <use xlink:href="img/sprite.svg#ruble" />
                                </svg>
                            </td>
                        </tr>
                    </div>
                </table>

                <div class="cart__list-total">
                    Итого: 

                    <div class="cart__list-total--price">
                        1.500
                        <svg class="svg__icon">
                            <use xlink:href="img/sprite.svg#ruble_red" />
                        </svg>
                    </div>
                </div>

                <div class="cart__list-final">
                    <button class="main__button">
                        Оформить заказ
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</section>