<section class="coffeehouse" id="coffeehouse">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="coffeehouse__title">
                    <div class="coffeehouse__title-small">
                        Специальное предложение
                    </div>
                    Получите бонусную карту
                    <div class="coffeehouse__title-span">
                        Barista Club
                    </div>
                </div>
                <img src="img/coffeehouse-card.png" alt="" class="coffeehouse__img-card">

                <div class="coffeehouse__text">
                    Morbi malesuada dui in iaculis lacinia. Duis laoreet ut liberonec tincidunt. Maecenas a eros
                    finibus, condimentum tortoreget, auctor nunc. Aenean a efficitur leo.
                </div>
                <a href="#" class="main__button">
                    Получить карту
                </a>
            </div>
            <div class="col">
                <img src="img/coffeehouse.jpg" alt="#" class="coffeehouse__img">
            </div>
        </div>
    </div>
</section>