<div class="row compatibility__items">
    <div class="col">
        <div class="compatibility__item">
            <a href="#" class="compatibility__item-img">
                <div class="compatibility__item-status">
                    Home
                </div>
                <div class="compatibility__item-favorites">
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#favorites" />
                    </svg>
                </div>
                <img src="img/production__img_2.png" alt="#" class="compatibility__item-images">
            </a>
            <div class="compatibility__item-title">
                <h5>
                    <a href="#" class="compatibility__item-link">
                        Barista Milk
                    </a>
                </h5>
            </div>
            <div class="compatibility__item-price">

                <div class="compatibility__item-price--new">
                    45.500
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#ruble" />
                    </svg>
                </div>
            </div>
            <button class="main__button">
                Добавить в корзину
            </button>
        </div>
    </div>

    <div class="col">
        <div class="compatibility__item">
            <a href="#" class="compatibility__item-img">
                <div class="compatibility__item-status">
                    Professional
                </div>
                <div class="compatibility__item-favorites">
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#favorites" />
                    </svg>
                </div>
                <img src="img/production__img_3.png" alt="#" class="compatibility__item-images">
            </a>
            <div class="compatibility__item-title">
                <h5>
                    <a href="#" class="compatibility__item-link">
                        Barista Milk premium
                    </a>
                </h5>
            </div>
            <div class="compatibility__item-price">

                <div class="compatibility__item-price--new">
                    45.500
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#ruble" />
                    </svg>
                </div>
            </div>
            <button class="main__button">
                Добавить в корзину
            </button>
        </div>
    </div>

    <div class="col">
        <div class="compatibility__item">
            <a href="#" class="compatibility__item-img">
                <div class="compatibility__item-status">
                    Home
                </div>
                <div class="compatibility__item-favorites">
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#favorites" />
                    </svg>
                </div>
                <img src="img/production__img_4.png" alt="#" class="compatibility__item-images">
            </a>
            <div class="compatibility__item-title">
                <h5>
                    <a href="#" class="compatibility__item-link">
                        Barista Капучино лесной орех
                    </a>
                </h5>
            </div>
            <div class="compatibility__item-price">

                <div class="compatibility__item-price--old">
                    3.999
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#ruble_old" />
                    </svg>
                </div>

                <div class="compatibility__item-price--new">
                    500
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#ruble" />
                    </svg>
                </div>
            </div>
            <button class="main__button">
                Добавить в корзину
            </button>
        </div>
    </div>

    <div class="col">
        <div class="compatibility__item">
            <a href="#" class="compatibility__item-img">
                <div class="compatibility__item-status">
                    Home
                </div>
                <div class="compatibility__item-favorites">
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#favorites" />
                    </svg>
                </div>
                <img src="img/production__img_5.png" alt="#" class="compatibility__item-images">
            </a>
            <div class="compatibility__item-title">
                <h5>
                    <a href="#" class="compatibility__item-link">
                        Barista Milk premium
                    </a>
                </h5>
            </div>
            <div class="compatibility__item-price">

                <div class="compatibility__item-price--new">
                    45.500
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#ruble" />
                    </svg>
                </div>
            </div>
            <button class="main__button">
                Добавить в корзину
            </button>
        </div>
    </div>

    <div class="col">
        <div class="compatibility__item">
            <a href="#" class="compatibility__item-img">
                <div class="compatibility__item-status">
                    Home
                </div>
                <div class="compatibility__item-favorites">
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#favorites" />
                    </svg>
                </div>
                <img src="img/production__img_2.png" alt="#" class="compatibility__item-images">
            </a>
            <div class="compatibility__item-title">
                <h5>
                    <a href="#" class="compatibility__item-link">
                        Barista Milk
                    </a>
                </h5>
            </div>
            <div class="compatibility__item-price">

                <div class="compatibility__item-price--new">
                    45.500
                    <svg class="svg__icon">
                        <use xlink:href="img/sprite.svg#ruble" />
                    </svg>
                </div>
            </div>
            <button class="main__button">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>