<section class="page">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="title__block">
                    Филиалы и контакты
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum atque at eaque, culpa aliquid
                    excepturi enim praesentium perspiciatis architecto alias soluta sed sint voluptatibus inventore non,
                    laborum rem qui. Eos. </p>

                <h4>Способы связи с нами</h4>

                <ul class="main__contacts">
                    <li class="main__contacts-item main__contacts-item--phone">
                        <a href="tel:8 (800) 250-77-91" class="main__contacts-phone main__contacts-link">
                            <svg class="svg__icon">
                                <use xlink:href="img/sprite.svg#phoneIcon" />
                            </svg>
                            8 (800) 250-77-91
                        </a>
                        - единый контакт-центр (бесплатный звонок по РФ)
                    </li>
                    <li class="main__contacts-item main__contacts-item--mail">
                        <a href="mailto:info@baristacoffee.ru" title="#"
                            class="main__contacts-link main__contacts-email">
                            <svg class="svg__icon">
                                <use xlink:href="img/sprite.svg#emailIcon" />
                            </svg>

                            info@baristacoffee.ru
                        </a>
                        - единый пресс-центр
                    </li>
                </ul>

                <details>
                    <summary>
                        <h4>Адреса наших филиалов</h4>
                    </summary>

                    <div class="branches__table">
                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Астрахань
                            </div>
                            <a href="tel:+7 (905) 032-87-67 " title="#" class="branches__table-phone">
                                +7 (905) 032-87-67
                            </a>
                            <a href="mailto:astrakhan@baristacoffee.ru" class="branches__table-email">
                                astrakhan@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Балаково
                            </div>
                            <a href="tel:+7 (964) 879-36-40" title="#" class="branches__table-phone">
                                +7 (964) 879-36-40
                            </a>
                            <a href="mailto:balakovo@baristacoffee.ru" title="#" class="branches__table-email">
                                balakovo@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Белгород
                            </div>
                            <a href="tel:+7 (903) 420-20-48" title="#" class="branches__table-phone">
                                +7 (903) 420-20-48
                            </a>
                            <a href="mailto:voronezh@baristacoffee.ru" class="branches__table-email">
                                voronezh@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Владимир
                            </div>
                            <a href="tel:+7 (963) 230-64-62" title="#" class="branches__table-phone">
                                +7 (963) 230-64-62
                            </a>
                            <a href="mailto:vladimir@baristacoffee.ru" class="branches__table-email">
                                vladimir@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Волгоград
                            </div>
                            <a href="tel:+7 (905) 032-87-67" title="#" class="branches__table-phone">
                                +7 (905) 032-87-67
                            </a>
                            <a href="mailto:volgograd@baristacoffee.ru" class="branches__table-email">
                                volgograd@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Воронеж
                            </div>
                            <a href="tel:+7 (903) 420-20-48" title="#" class="branches__table-phone">
                                +7 (903) 420-20-48
                            </a>
                            <a href="mailto:voronezh@baristacoffee.ru" class="branches__table-email">
                                voronezh@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Иваново
                            </div>
                            <a href="tel:+7 (963) 230-64-62" title="#" class="branches__table-phone">
                                +7 (963) 230-64-62
                            </a>
                            <a href="mailto:ivanovo@baristacoffee.ru" class="branches__table-email">
                                ivanovo@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Ижевск
                            </div>
                            <a href="tel:+7 (927) 821-38-73" title="#" class="branches__table-phone">
                                +7 (927) 821-38-73
                            </a>
                            <a href="mailto:info@baristacoffee.ru" class="branches__table-email">
                                info@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Казань
                            </div>
                            <a href="tel:+7 (927) 445-72-85" title="#" class="branches__table-phone">
                                +7 (927) 445-72-85
                            </a>
                            <a href="mailto:kazan@baristacoffee.ru" class="branches__table-email">
                                kazan@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Краснодар
                            </div>
                            <a href="tel:+7 (938) 146-76-76" title="#" class="branches__table-phone">
                                +7 (938) 146-76-76
                            </a>
                            <a href="mailto:krasnodar@baristacoffee.ru" class="branches__table-email">
                                krasnodar@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Кузнецк
                            </div>
                            <a href="tel:+7 (8412) 20-53-35" title="#" class="branches__table-phone">
                                +7 (8412) 20-53-35
                            </a>
                            <a href="mailto:penza@baristacoffee.ru" class="branches__table-email">
                                penza@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Липецк
                            </div>
                            <a href="tel:+7 (905) 178-88-77" title="#" class="branches__table-phone">
                                +7 (905) 178-88-77
                            </a>
                            <a href="mailto:lipetsk@baristacoffee.ru" class="branches__table-email">
                                lipetsk@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Москва
                            </div>
                            <a href="tel:+7 (963) 604-47-52" title="#" class="branches__table-phone">
                                +7 (963) 604-47-52
                            </a>
                            <a href="mailto:moscow@baristacoffee.ru" class="branches__table-email">
                                moscow@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Набережные Челны
                            </div>
                            <a href="tel:+7 (927) 445-72-85" title="#" class="branches__table-phone">
                                +7 (927) 445-72-85
                            </a>
                            <a href="mailto:kazan@baristacoffee.ru" class="branches__table-email">
                                kazan@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Нижний Новгород
                            </div>
                            <a href="tel:+7 (831) 213-64-61" title="#" class="branches__table-phone">
                                +7 (831) 213-64-61
                            </a>
                            <a href="mailto:nn@baristacoffee.ru" class="branches__table-email">
                                nn@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Пенза
                            </div>
                            <a href="tel:+7 (8412) 20-53-35" title="#" class="branches__table-phone">
                                +7 (8412) 20-53-35
                            </a>
                            <a href="mailto:penza@baristacoffee.ru" class="branches__table-email">
                                penza@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Пермь
                            </div>
                            <a href="tel:+7 (922) 357-07-67" title="#" class="branches__table-phone">
                                +7 (922) 357-07-67
                            </a>
                            <a href="mailto:info@baristacoffee.ru" class="branches__table-email">
                                info@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Ростов-на-Дону
                            </div>
                            <a href="tel:+7 (937) 424-92-82" title="#" class="branches__table-phone">
                                +7 (937) 424-92-82
                            </a>
                            <a href="mailto:info@baristacoffee.ru" class="branches__table-email">
                                info@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Рязань
                            </div>
                            <a href="tel:+7 (905) 691-37-25" title="#" class="branches__table-phone">
                                +7 (905) 691-37-25
                            </a>
                            <a href="mailto:ryazan@baristacoffee.ru" class="branches__table-email">
                                ryazan@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Самара
                            </div>
                            <a href="tel:+7 (846) 991-88-82" title="#" class="branches__table-phone">
                                +7 (846) 991-88-82
                            </a>
                            <a href="mailto:samara@baristacoffee.ru" class="branches__table-email">
                                samara@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Саранск
                            </div>
                            <a href="tel:+7 (8342) 31-23-53" title="#" class="branches__table-phone">
                                +7 (8342) 31-23-53
                            </a>
                            <a href="mailto:saransk@baristacoffee.ru" class="branches__table-email">
                                saransk@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Саратов
                            </div>
                            <a href="tel:+7 (8452) 25-46-99" title="#" class="branches__table-phone">
                                +7 (8452) 25-46-99
                            </a>
                            <a href="mailto:saratov@baristacoffee.ru" class="branches__table-email">
                                saratov@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Сызрань
                            </div>
                            <a href="tel:+7 (967) 481-35-78" title="#" class="branches__table-phone">
                                +7 (967) 481-35-78
                            </a>
                            <a href="mailto:syzran@baristacoffee.ru" class="branches__table-email">
                                syzran@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Тамбов
                            </div>
                            <a href="tel:+7 (905) 178-88-77" title="#" class="branches__table-phone">
                                +7 (905) 178-88-77
                            </a>
                            <a href="mailto:lipetsk@baristacoffee.ru" class="branches__table-email">
                                lipetsk@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Тольятти
                            </div>
                            <a href="tel:+7 (967) 481-35-78" title="#" class="branches__table-phone">
                                +7 (967) 481-35-78
                            </a>
                            <a href="mailto:tolyatti@baristacoffee.ru" class="branches__table-email">
                                tolyatti@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Саратов
                            </div>
                            <a href="tel:+7 (8452) 25-46-99" title="#" class="branches__table-phone">
                                +7 (8452) 25-46-99
                            </a>
                            <a href="mailto:saratov@baristacoffee.ru" class="branches__table-email">
                                saratov@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Ульяновск
                            </div>
                            <a href="tel:+7 (960) 378-41-23" title="#" class="branches__table-phone">
                                +7 (960) 378-41-23
                            </a>
                            <a href="mailto:ulianovsk@baristacoffee.ru" class="branches__table-email">
                                ulianovsk@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Уральск
                            </div>
                            <a href="tel:+7 (707) 193-85-12" title="#" class="branches__table-phone">
                                +7 (707) 193-85-12
                            </a>
                            <a href="mailto:uralsk@baristacoffee.ru" class="branches__table-email">
                                uralsk@baristacoffee.ru
                            </a>
                        </div>

                        <div class="branches__table-item">
                            <div class="branches__table-city">
                                Чебоксары
                            </div>
                            <a href="tel:+7 (905) 343-77-33" title="#" class="branches__table-phone">
                                +7 (905) 343-77-33
                            </a>
                            <a href="mailto:cheboksary@baristacoffee.ru" class="branches__table-email">
                                cheboksary@baristacoffee.ru
                            </a>
                        </div>
                    </div>
                </details>


                <img src="img/map_bg.png" alt="#" class="main__contacts-map">


            </div>

            <div class="col">
                <h4>Напишите нам</h4>

                <form action="#" class="main__form main__form--contacts">
                    <div class="main__form-field">
                        <label for="" class="main__form-label">Ваше имя</label>
                        <input type="text" class="main__form-input" placeholder="Представьтесь, пожалуйста">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">E-mail адрес <span class="required">*</span></label>
                        <input required type="text" class="main__form-input" placeholder="Введите актуальный адрес">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Номер телефона</label>
                        <input type="text" class="main__form-input" placeholder="Для оперативной связи с вами">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Регион пребывания</label>
                        <input type="text" class="main__form-input" placeholder="Свяжем Вас с офисом в регионе">
                    </div>

                    <div class="main__form-field main__form-field--text">
                        <label for="" class="main__form-label">Ваше сообщение</label>
                        <textarea type="text" class="main__form-textarea"
                            placeholder="Введите ваше сообщение, вопрос или предложение"> </textarea>
                    </div>

                    <div class="main__form-button">
                        <p class="main__form-licenze">
                            Нажимая кнопку «отправить сообщение» вы соглашаетесь с условиями <a href="#"
                                title="#">обработки персональных данных</a>.
                        </p>
                        <button class="main__button">
                            Отправить сообщение
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>