<section class="news">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="title__block">
                    Сотрудничество
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum atque at eaque, culpa aliquid excepturi enim praesentium perspiciatis architecto alias soluta sed sint voluptatibus inventore non, laborum rem qui. Eos. </p>

                <h4>Преимущества сотрудничества с нами:</h4>

                <ul>
                    <li>Классический текст Lorem Ipsum, используемый <a href="#" title="#">do not know how to</a> с XVI века But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I Классический текст Lorem Ipsum</li>
                    <li>Абзац 1.10.32 "de Finibus Bonorum et Malorum", написанный Цицероном в 45 году н.э.</li>
                    <li>Английский перевод 1914 года, H. Rackham</li>
                    <li>Абзац 1.10.33 "de Finibus Bonorum et Malorum", написанный Цицероном в 45 году н.э.</li>
                    <li>Английский перевод 1914 года, H. Rackham</li>
                </ul>
            </div>

            <div class="col">
                <form action="#" class="main__form">
                    <div class="main__form-field">
                        <label for="" class="main__form-label">Ваше имя</label>
                        <input type="text" class="main__form-input" placeholder="Представьтесь, пожалуйста">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">E-mail адрес <span class="required">*</span></label>
                        <input required type="text" class="main__form-input" placeholder="Введите актуальный адрес">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Номер телефона</label>
                        <input type="text" class="main__form-input" placeholder="Для оперативной связи с вами">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Регион пребывания</label>
                        <input type="text" class="main__form-input" placeholder="Свяжем Вас с офисом в регионе">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Деятельность организации</label>
                        <input type="text" class="main__form-input" placeholder="Заранее подберем и предложим продукт">
                    </div>

                    <div class="main__form-field">
                        <label for="" class="main__form-label">Интересующая продукция</label>
                        <input type="text" class="main__form-input" placeholder="Заранее подберем и предложим продукт">
                    </div>

                    <div class="main__form-field main__form-field--text">
                        <label for="" class="main__form-label">Дополнительная информация</label>
                        <textarea type="text" class="main__form-textarea" placeholder="Ссылки на ваш сайт, уточняющая информация, которая поможет нам быстрее определиться с предоставляемым оборудованием и продукцией"> </textarea>
                    </div>

                    <div class="main__form-button">
                        <p class="main__form-licenze">
                            Нажимая кнопку «подписаться» вы соглашаетесь с условиями <a href="#" title="#">обработки персональных данных</a>.
                        </p>
                        <button class="main__button">
                            Начать сотрудничество
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>