<section class="news production__card">
    <div class="wrapper">
        <div class="row production__card-top">
            <div class="col">
                <div class="production__card-slaider">
                    <a href="../img/production__img_01.png" data-fancybox="gallery">
                        <img src="img/production__img_01.png" alt="#" class="production__card-image--main">
                    </a>
                </div>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <div class="production__info">
                    <h1>
                        Barista Nero
                    </h1>
                    <div class="production__info-price">

                        <div class="production__info-price--new">
                            45.500
                            <svg class="svg__icon">
                                <use xlink:href="img/sprite.svg#ruble_red" />
                            </svg>
                        </div>
                    </div>
                    <div class="production__info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore.
                    </div>
                    <div class="production__info-forms">
                        <input type="text" value="1" class="production__info-forms--input">

                        <div class="production__info-favorites">
                            <button class="production__info-favorites--button production__info-favorites--no">
                                <svg class="svg__icon">
                                    <use xlink:href="img/sprite.svg#favorites_product" />
                                </svg>
                            </button>
                        </div>

                        <div class="production__info-cardbuttons">
                            <button class="main__button">
                                Добавить в корзину
                            </button>
                        </div>
                    </div>

                    <div class="production__info-number">
                        <span>Артикул:</span> QL-32940
                    </div>
                    <div class="production__info-using">
                        <span>Применение:</span> кафе и рестораны, кофе на вынос, отели.
                    </div>
                </div>

            </div>
        </div>
        <div class="row production__card-other equipment_text-info">
            <div class="col">
                <div class="production__card-other--title">
                    Характеристики:
                </div>
                <table class="production__card-other--table">
                    <tr>
                        <td>Габариты (ВxШxГ), мм</td>
                        <td>580x640x510</td>
                    </tr>
                    <tr>
                        <td>Скорость приготовления напитков, сек.</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Производительность, чашек\ч.</td>
                        <td>до 100</td>
                    </tr>
                    <tr>
                        <td>Потребляемая мощность, Вт</td>
                        <td>1900</td>
                    </tr>
                    <tr>
                        <td>Вес, кг</td>
                        <td>30,5</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <div class="production__card-other--title">
                    Описание:
                </div>
                <div class="production__card-other--text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore.
                    </p>
                </div>
            </div>
        </div>
        <div class="row production__card-other">
            <div class="col">

                <div class="production__card-other--title">
                    Совместимость:
                </div>

                @include('compatibility.html')

            </div>
        </div>
    </div>
</section>