<section class="production equipment__pages">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="title__block">
                    Оборудование
                </div>
            </div>
        </div>
        <div class="row equipment__categories">
            <div class="col">
                <div class="filter__main">
                    <div class="filter__main-block">
                        <div class="filter__main-title">
                            Производительность (чашек в час)
                        </div>
                        <div class="filter__main-items">
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">до 50</label>
                            </div>
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">до 75</label>
                            </div>
                            <div class="filter__main-items--block">
                                <input cheked type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">до 100</label>
                            </div>
                        </div>
                    </div>

                    <div class="filter__main-block">
                        <div class="filter__main-title">
                            Потребляемая мощность
                        </div>
                        <div class="filter__main-items">
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">1700 Вт</label>
                            </div>
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">1700 Вт</label>
                            </div>
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">1700 Вт</label>
                            </div>
                        </div>
                    </div>

                    <div class="filter__main-block">
                        <div class="filter__main-title">
                            Скорость приготовления напитков
                        </div>
                        <div class="filter__main-items">
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">до 15 сек.</label>
                            </div>
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">до 23 сек.</label>
                            </div>
                            <div class="filter__main-items--block">
                                <input type="checkbox" class="filter__main-checkbox" value="yes">
                                <label class="filter__main-label" for="happy">до 50 сек.</label>
                            </div>
                        </div>
                    </div>

                    <button class="main__button">
                        Применить фильтр
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="row production__items">
                    <div class="col">
                        <div class="production__item">
                            <a href="#" class="production__item-img">
                                <div class="production__item-status">
                                    Home
                                </div>
                                <div class="production__item-favorites">
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#favorites" />
                                    </svg>
                                </div>
                                <img src="img/production__img_2.png" alt="#" class="production__item-images">
                            </a>
                            <div class="production__item-title">
                                <h5>
                                    <a href="#" class="production__item-link">
                                        Barista Milk premium
                                    </a>
                                </h5>
                            </div>
                            <div class="production__item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore.
                            </div>
                            <div class="production__item-price">

                                <div class="production__item-price--new">
                                    45.500
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#ruble" />
                                    </svg>
                                </div>
                            </div>
                            <button class="main__button">
                                Добавить в корзину
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="production__item">
                            <a href="#" class="production__item-img">
                                <div class="production__item-status">
                                    Professional
                                </div>
                                <div class="production__item-favorites">
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#favorites_active" />
                                    </svg>
                                </div>
                                <img src="img/production__img_3.png" alt="#" class="production__item-images">
                            </a>
                            <div class="production__item-title">
                                <h5>
                                    <a href="#" class="production__item-link">
                                        Barista Milk
                                    </a>
                                </h5>
                            </div>
                            <div class="production__item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore.
                            </div>
                            <div class="production__item-price">

                                <div class="production__item-price--old">
                                    32.999
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#ruble_old" />
                                    </svg>
                                </div>

                                <div class="production__item-price--new">
                                    25.000
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#ruble" />
                                    </svg>
                                </div>
                            </div>
                            <button class="main__button">
                                Заказать
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="production__item">
                            <a href="#" class="production__item-img">
                                <div class="production__item-status">
                                    Home
                                </div>
                                <div class="production__item-favorites">
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#favorites" />
                                    </svg>
                                </div>
                                <img src="img/production__img_4.png" alt="#" class="production__item-images">
                            </a>
                            <div class="production__item-title">
                                <h5>
                                    <a href="#" class="production__item-link">
                                        Barista Milk premium Barista Milk premium
                                    </a>
                                </h5>
                            </div>
                            <div class="production__item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore.
                            </div>
                            <div class="production__item-price">

                                <div class="production__item-price--new">
                                    1.000
                                    <svg class="svg__icon">
                                        <use xlink:href="img/sprite.svg#ruble" />
                                    </svg>
                                </div>
                            </div>
                            <button class="main__button">
                                Добавить в корзину
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row equipment__bottom">
                    <div class="col">
                        @include('pagination.html')
                    </div>
                </div>
                <div class="row equipment__bottom">
                    <div class="col">
                        <div class="production__descriptions">
                            <div class="production__descriptions-total">
                                Всего товаров: 8
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>