<footer class="footer">
	<div class="wrapper">
		<div class="row">
			<div class="col">
				<a href="/" title="Barista Coffee" class="footer__logo">
					<svg class="svg__icon">
						<use xlink:href="img/sprite.svg#footer_logo" />
					</svg>
				</a>

				<p class="footer__text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat.</p>
				<div class="footer__phone">
					<a href="tel:8 (800) 250-77-91" class="footer__phone-link">8 (800) 250-77-91</a>
					<span class="footer__phone-text">бесплатный звонок по РФ</span>
				</div>
			</div>
			<div class="col">
				<div class="footer__title">Навигация</div>
				<ul class="footer__menu">
					<li class="footer__menu-item"><a href="/baristaprom//text_page.html" class="footer__menu-link"
							title="#">О компании</a></li>
					<li class="footer__menu-item"><a href="/baristaprom//production_catalog.html"
							class="footer__menu-link" title="#">Каталог продукции</a>
					</li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Кофейное
							оборудование</a></li>
					<li class="footer__menu-item"><a href="/baristaprom//news_catalog.html" class="footer__menu-link"
							title="#">Наши
							новости</a></li>
					<li class="footer__menu-item"><a href="/baristaprom//cooperation.html" class="footer__menu-link"
							title="#">Сотрудничество</a>
					</li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Клубная карта</a></li>
				</ul>
			</div>
			<div class="col">
				<div class="footer__title">Сервис</div>
				<ul class="footer__menu">
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Оборудование для
							дома</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Оборудование для
							бизнеса</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Ингредиенты для
							дома</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Ингредиенты для
							офиса</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Сопутствующие
							материалы</a></li>
				</ul>
			</div>
			<div class="col">
				<div class="footer__title">Профиль</div>
				<ul class="footer__menu">
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Мой аккаунт</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Авторизация</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Регистрация</a></li>
					<li class="footer__menu-item"><a href="#" class="footer__menu-link" title="#">Выход</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="wrapper">
			<div class="row">
				<div class="col">
					© BaristaCoffee - 2021
					<a href="mailto:info@baristacoffee.ru" title="#"
						class="footer__bottom-email footer__bottom-link">info@baristacoffee.ru</a>
					<a href="#" title="#" class="footer__bottom-link">Политика обработки персональных данных</a>
				</div>
			</div>
		</div>
	</div>
</footer>