<header>

  <div class="wrapper">
    <div class="row">
      <div class="col">
        <a href="/" title="Barista Coffee" class="main__logo">
          <svg class="svg__icon">
            <use xlink:href="img/sprite.svg#header_logo" />
          </svg>
        </a>
      </div>
      <div class="col">
        <nav>
          <ul class="main__menu">
            <li class="main__menu-item"><a href="#" class="main__menu-link" title="О компании">О компании</a></li>
            <li class="main__menu-item"><a href="#" class="main__menu-link" title="Каталог продукции">Каталог
                продукции</a></li>
            <li class="main__menu-item"><a href="#" class="main__menu-link" title="Новости компании">Новости
                компании</a></li>
            <li class="main__menu-item"><a href="#" class="main__menu-link" title="Клубная карта">Клубная карта</a></li>
            <li class="main__menu-item"><a href="#" class="main__menu-link" title="Сотрудничество">Сотрудничество</a>
            </li>
            <li class="main__menu-item"><a href="#" class="main__menu-link" title="Контакты">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="col">
        <ul class="user__panel">
          <li class="user__panel-item">
            <svg class="svg__icon">
              <use xlink:href="img/sprite.svg#search_icon" />
            </svg>
          </li>
          <li class="user__panel-item">
            <svg class="svg__icon">
              <use xlink:href="img/sprite.svg#user_icon" />
            </svg>
          </li>
          <li class="user__panel-item">
            <svg class="svg__icon">
              <use xlink:href="img/sprite.svg#shop_icon" />
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>

</header>

<div class="sliader">

</div>