<section class="news news__page">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="news__page-top">
                    <div class="news__page-status">
                        Новости
                    </div>
                    <h1>
                        Barista на&nbsp;&laquo;Джазе на&nbsp;пруду 2019&raquo;
                    </h1>
                    <div class="news__block-bottom-info">
                        <time class="news__block-time">
                            27.08.2020
                        </time>
                        <div class="news__block-views">
                            просмотров 294
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="news__page-content">
                    <p>С большим успехом прошло участие липецкого филиала Barista в ежегодном фестивале "Джаз на пруду"
                        в усадьбе
                        "Скорняково-Архангельское".
                    </p>
                    <img src="img/news_post8.jpg" alt="#">
                    <p>С большим успехом прошло участие липецкого филиала Barista в ежегодном фестивале "Джаз на пруду"
                        в усадьбе
                        "Скорняково-Архангельское". </p>
                    <p>В рамках фестиваля выступили мэтры джазовой музыки, публика получила великолепный заряд джаза на
                        предстоящий год, а coffee-point
                        Barista радовал гостей мероприятия отличным свежесваренным кофе. С большим успехом прошло
                        участие липецкого филиала Barista в
                        ежегодном фестивале "Джаз на пруду" в усадьбе "Скорняково-Архангельское".</p>
                    <p>В рамках фестиваля выступили мэтры джазовой музыки, публика получила великолепный заряд джаза на
                        предстоящий год, а coffee-point
                        Barista радовал гостей мероприятия отличным свежесваренным кофе.</p>
                </div>
            </div>

            <div class="col">
                <div class="news__page-gallery">
                    <div class="news__page-gallery--title">
                        Галерея:
                    </div>
                    <div class="row news__gallery">
                        <div class="col">
                            <a href="img/news_post7.jpg" class="news__page-gallery--img" data-fancybox="gallery">
                                <img src="img/news_post7.jpg" alt="#" class="news__page-gallery--image">
                                <div class="hover__image">

                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="img/news_post8.jpg" class="news__page-gallery--img" data-fancybox="gallery">
                                <img src="img/news_post8.jpg" alt="#" class="news__page-gallery--image">
                                <div class="hover__image">

                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="img/news_post9.jpg" class="news__page-gallery--img" data-fancybox="gallery">
                                <img src="img/news_post9.jpg" alt="#" class="news__page-gallery--image">
                                <div class="hover__image">

                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="img/news_post10.jpg" class="news__page-gallery--img" data-fancybox="gallery">
                                <img src="img/news_post10.jpg" alt="#" class="news__page-gallery--image">
                                <div class="hover__image">

                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="img/news_post7.jpg" class="news__page-gallery--img" data-fancybox="gallery">
                                <img src="img/news_post7.jpg" alt="#" class="news__page-gallery--image">
                                <div class="hover__image">

                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="img/news_post8.jpg" class="news__page-gallery--img" data-fancybox="gallery">
                                <img src="img/news_post8.jpg" alt="#" class="news__page-gallery--image">
                                <div class="hover__image">

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="news__page-share">
                    <div class="news__page-share--title">
                        Поделиться:
                    </div>
                    <!-- uSocial -->
                    <script async src="https://usocial.pro/usocial/usocial.js?uid=e8052dca73f56179&v=6.1.5"
                        data-script="usocial" charset="utf-8"></script>
                    <div class="uSocial-Share" data-pid="ce6eacae795b2cffb0f5eb495a5e3b12" data-type="share"
                        data-options="round-rect,style1,default,absolute,horizontal,size32,eachCounter0,counter0,nomobile,mobile_position_right"
                        data-social="wa,telegram,vk,fb,ok,twi,email,bookmarks"></div>
                    <!-- /uSocial -->
                </div>
            </div>
        </div>
    </div>
</section>