<section class="news news__mainpage">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                <div class="title__block">
                    Недавние публикации
                </div>
            </div>
        </div>
        <div class="row news__items">
            <div class="col">
                <div class="news__block">
                    <a href="#" class="news__block-link">
                        <div class="news__block-img">
                            <div class="news__block-status">
                                Новости
                            </div>
                            <img src="img/news_post7.jpg" alt="#" class="news__block-image">
                            <div class="hover__image">
                                <div class="hover__image-right"></div>
                                <div class="hover__image-left"></div>
                            </div>
                        </div>
                        <h5>
                            Сеть автозаправочных комплексов ТНТ с Barista!
                        </h5>
                    </a>
                    <div class="news__block-bottom-info">
                        <time class="news__block-time">
                            30.12.2020
                        </time>
                        <div class="news__block-views">
                            просмотров 53
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="news__block">
                    <a href="#" class="news__block-link">
                        <div class="news__block-img">
                            <div class="news__block-status">
                                Открытие
                            </div>
                            <img src="img/news_post8.jpg" alt="#" class="news__block-image">
                            <div class="hover__image">
                                <div class="hover__image-right"></div>
                                <div class="hover__image-left"></div>
                            </div>
                        </div>
                        <h5>
                            Barista City Cafe в крупнейшем ТРЦ Татарстана KazanMall
                        </h5>
                    </a>
                    <div class="news__block-bottom-info">
                        <time class="news__block-time">
                            16.11.2020
                        </time>
                        <div class="news__block-views">
                            просмотров 62
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="news__block">
                    <a href="#" class="news__block-link">
                        <div class="news__block-img">
                            <div class="news__block-status">
                                Участие в выставке
                            </div>
                            <img src="img/news_post9.jpg" alt="#" class="news__block-image">
                            <div class="hover__image">
                                <div class="hover__image-right"></div>
                                <div class="hover__image-left"></div>
                            </div>
                        </div>
                        <h5>
                            Barista на PIR EXPO Coffee 2020
                        </h5>
                    </a>
                    <div class="news__block-bottom-info">
                        <time class="news__block-time">
                            27.10.2020
                        </time>
                        <div class="news__block-views">
                            просмотров 90
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="news__block">
                    <a href="#" class="news__block-link">
                        <div class="news__block-img">
                            <div class="news__block-status">
                                Выход из кризиса
                            </div>
                            <img src="img/news_post10.jpg" alt="#" class="news__block-image">
                            <div class="hover__image">
                                <div class="hover__image-right"></div>
                                <div class="hover__image-left"></div>
                            </div>
                        </div>
                        <h5>
                            Barista City Cafe - драйвер роста в пандемию
                        </h5>
                    </a>
                    <div class="news__block-bottom-info">
                        <time class="news__block-time">
                            27.08.2020
                        </time>
                        <div class="news__block-views">
                            просмотров 294
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/news_catalog.html" title="#" class="main__button">
                    Другие публикации
                </a>
            </div>
        </div>
    </div>
</section>