<section class="news production__card">
    <div class="wrapper">
        <div class="row">
            <div class="col">
                картинка
            </div>
            <div class="col">
                пробел
            </div>
            <div class="col">
                <div class="production__info">
                    <h1>
                        Barista milk premium
                    </h1>
                    <div class="production__info-price">
                        <div class="production__info-price--new">
                            1.500
                            <svg class="svg__icon">
                                <use xlink:href="img/sprite.svg#ruble_red" />
                            </svg>
                        </div>
                    </div>
                    <div class="production__info-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore.
                    </div>
                    <div class="production__info-forms">
                        <input type="text" value="1" class="production__info-forms--input">
                        <button class="main__button">
                            Добавить в корзину
                        </button>
                        <div class="production__info-favorites">
                            <button class="production__info-favorites--button production__info-favorites--no">
                                <svg class="svg__icon">
                                    <use xlink:href="img/sprite.svg#favorites_product" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="production__info-number">
                        <span>Артикул:</span> 94832-BC
                    </div>
                    <div class="production__info-using">
                        <span>Применение:</span> кафе и рестораны, кофе на вынос, отели.
                    </div>

                    <ul class="production__info-feature">
                        <li class="production__info-feature--item">
                            <div class="production__info-feature--icon">
                                <svg class="svg__icon">
                                    <use xlink:href="img/sprite.svg#feature_size" />
                                </svg>
                            </div>
                            1000 гр.
                        </li>
                        <li class="production__info-feature--item">
                            <div class="production__info-feature--icon">
                                <svg class="svg__icon">
                                    <use xlink:href="img/sprite.svg#feature_box" />
                                </svg>
                            </div>
                            6 шт.
                        </li>
                        <li class="production__info-feature--item">
                            <div class="production__info-feature--icon">
                                <svg class="svg__icon">
                                    <use xlink:href="img/sprite.svg#feature_calendar" />
                                </svg>
                            </div>
                            18 мес.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row production__card-other">
            <div class="col">
                <div class="production__card-other--title">
                    Описание:
                </div>
                <div class="production__card-other--text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                </div>
            </div>
        </div>
    </div>
</section>