@import "global.scss";
@import "./components/header";

@include reset();

* {
    box-sizing: border-box;
}

body {
    font-family: GothamPro;
    font-weight: 300;
    color: $--color-black-100;
}

.wrapper {
    @include container();
    @include xl(max-width, 1340px);
    @include xxl(max-width, 1600px);
}

.row {
    @include row-flex();
    justify-content: space-between;
}

.col {
    @include col();
    @include size(12);
}

.svg__icon {
    width: 22px;
    height: 22px;
    position: relative;

    @include before('sm') {
        width: 18px;
        height: 18px;
    }
}

.title__block {
    font-size: $--font-size-32;
    line-height: $--line-height-38;
    font-weight: $--font-weight-black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 110px;
    text-align: center;
    margin-bottom: 50px;

    &::before {
        content: '';
        background: url(../img/title__bg.png) no-repeat scroll 0 0;
        width: 210px;
        height: 110px;
        background-size: 100%;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0.5;
    }

    @include before('sm') {
        font-size: $--font-size-22;
        line-height: $--line-height-30;
        margin-bottom: 25px;
    }
}

.main__button {
    border-radius: $--border-radius;
    border: 2px solid $--color-red-100;
    background-color: $--color-red-100;
    padding: 13px 40px 12px;
    color: $--color-white-200;
    font-size: $--font-size-16;
    line-height: $--line-height-20;
    font-weight: $--font-weight-medium;
    transition: $--transition-main;
    text-decoration: none;
    display: table;
    margin: 0 auto;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $--color-white-100;
        color: $--color-red-100;
        transition: $--transition-main;
    }
}


.hover__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($--color-black-100, 0.7);
    opacity: 1;
    transition: $--transition-main;
    border-radius: $--border-radius;
}


.all__category {
    margin-top: 40px;
    background-color: transparentize($--color-white-200, 0.4);
    padding: 30px 0;

    @include before('lg') {
        margin-top: 10px;
        padding: 20px 0;
    }
}

.sliader {
    background: url(../img/slaider.jpg) no-repeat scroll 50% 50% / cover;
    min-height: 400px;
}

.required {
    color: $--color-red-100;
}


.main__form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    @include after('sm') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    @include after('md') {
        max-width: 70%;
        margin: 50px auto 0;
    }

    &-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;

        &--text {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &-button {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }

    &-prompt {
        flex-basis: 100%;
        margin-top: 30px;
    }

    &-licenze {
        font-size: $--font-size-12;
        line-height: $--line-height-16;
        text-align: center;
        font-weight: $--font-weight-medium;
    }

    &-label {
        font-size: $--font-size-14;
        line-height: $--line-height-20;
        font-weight: $--font-weight-medium;
        margin-bottom: 10px;
    }

    &-input {
        padding: 5px 15px;
        height: 45px;
        border: 1px solid transparentize($--color-black-100, 0.8);
        border-radius: $--border-radius;
        font-size: $--font-size-14;
        box-shadow: 0px 0px 10px rgba(13, 14, 15, 0.1);

        &:focus {
            border: 1px solid transparentize($--color-black-100, 0.6);
            outline: none;
        }
    }

    &-textarea {
        padding: 10px 15px;
        height: 40px;
        border: 1px solid transparentize($--color-black-100, 0.8);
        box-shadow: 0px 0px 10px rgba(13, 14, 15, 0.1);
        border-radius: $--border-radius;
        font-size: $--font-size-14;
        min-height: 200px;
        line-height: $--line-height-20;

        &:focus {
            border: 1px solid transparentize($--color-black-100, 0.6);
            outline: none;
        }
    }

    &-login {
        display: flex;
        max-width: 400px;
        margin-left: 0;

        .main__form-button {
            width: auto;
        }
    }
}


.cart__list {
    width: 100%;
    margin-top: 20px;

    thead {
        th {
            border-bottom: 2px solid $--color-black-100;
            font-size: $--font-size-16;
            font-weight: $--font-weight-medium;
            padding: 5px 10px;
           
            &:last-child {
                text-align: right;
            }
        }
    }

    tbody {

        td {
            padding: 20px 10px 5px;
            &:last-child {
                text-align: right;
            }
        }
    }

    &-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &-delete {
        background: none;
        border: none;
        font-weight: 500;
        color: $--color-black-100;
        padding: 0;
        cursor: pointer;

        &:hover, &:focus {
            color: $--color-red-100;
            text-decoration: underline;
        }
    }

    &-total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        margin-bottom: 20px;
    }

    &-final {
        display: flex;
        justify-content: flex-end;

        .main__button {
            margin-right: 10px;
        }
    }
}


h1 {
    margin: 20px 0;
    font-size: $--font-size-32;
    line-height: $--line-height-40;
    font-weight: $--font-weight-medium;

    @include before('xl') {
        font-size: $--font-size-26;
        line-height: $--line-height-32;
    }

    @include before('sm') {
        font-size: $--font-size-22;
        line-height: $--line-height-28;
    }
}

h2 {
    margin: 20px 0;
    font-size: $--font-size-30;
    line-height: $--line-height-34;
    font-weight: $--font-weight-medium;

    @include before('xl') {
        font-size: $--font-size-22;
        line-height: $--line-height-26;
    }

    @include before('sm') {
        font-size: $--font-size-20;
        line-height: $--line-height-22;
    }
}

h3 {
    margin: 20px 0;
    font-size: $--font-size-28;
    line-height: $--line-height-34;
    font-weight: $--font-weight-medium;

    @include before('xl') {
        font-size: $--font-size-20;
        line-height: $--line-height-24;
    }

    @include before('sm') {
        font-size: $--font-size-18;
        line-height: $--line-height-22;
    }
}


h4,
h5,
h6 {
    margin: 20px 0;
    font-size: $--font-size-22;
    line-height: $--line-height-28;
    font-weight: $--font-weight-medium;

    @include before('xl') {
        font-size: $--font-size-18;
        line-height: $--line-height-22;
    }
}


p {
    font-size: $--font-size-18;
    line-height: $--line-height-24;
    color: $--color-black-100;
    margin-bottom: 15px;

    @include before('sm') {
        font-size: $--font-size-16;
        line-height: $--line-height-22;
    }
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;

    li {
        padding-left: 20px;
        position: relative;
        margin-bottom: 5px;

        &::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $--color-red-100;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 7px;
        }
    }
}


ol {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;

    li {
        padding-left: 0;
        position: relative;
        margin-bottom: 10px;
    }
}

header ul,
footer ul {
    margin: 0;
}

header ul li,
footer ul li {
    margin: 0;
    padding: 0;
}

header ul li::before,
footer ul li::before {
    display: none;
}


strong {
    font-weight: $--font-weight-black;
}


a {
    color: $--color-red-100;
    transition: $--transition-main;

    &:hover {
        text-decoration: none;
        color: transparentize($--color-red-100, 0.1);
        transition: $--transition-main;
    }
}